.arrow {
   position: absolute;
   color: #0d9477;
   cursor: pointer;
}

.nextArrow {
   top: 40%;
   right: 0px;
   backdrop-filter: blur(10px);
}

.prevArrow {
   top: 40%;
   left: 0px;
   backdrop-filter: blur(10px);
   z-index: 50;
}
